[Unit]
Description=PC/SC Smart Card Daemon Activation Socket

[Socket]
ListenStream=/run/pcscd/pcscd.comm
SocketMode=0666
SocketUser=pcscd
SocketGroup=pcscd

[Install]
WantedBy=sockets.target
